/etc/termcap
/etc/securetty
/etc/domainips
/etc/exports
/etc/firewall.rules
/etc/ftphosts
/etc/hosts
/etc/hosts.equiv
/etc/hosts.allow
/etc/hosts.deny
/etc/ipfw.rules
/etc/ips
/etc/localdomains
/etc/nameserverips
/etc/networks
/etc/resolv.conf
/etc/sysconﬁg/network
/proc/net/arp
/proc/net/fib_trie
/proc/net/route
/proc/net/tcp
/proc/net/udp
/etc/samba/netlogon
/etc/sysconfig/network-scripts/ifcfg-eth0
/etc/userdatadomains 
/etc/userdomains
/etc/wu-ftpd/ftphosts
/var/lp/logs/lpnet
/var/lp/logs/lpNet
/var/lp/logs/lpsched
/var/lp/logs/requests
/var/named/data/named.run
