/apache/conf/httpd.conf
/apache/php/php.ini
/bin/php.ini
/boot/grub/grub.cfg
/etc/adduser.conf
/etc/anacrontab
/etc/apache22/conf/httpd.conf
/etc/apache22/httpd.conf
/etc/apache2/apache2.conf
/etc/apache2/apache.conf
/etc/apache2/conf.d/charset
/etc/apache2/conf.d/phpmyadmin.conf
/etc/apache2/conf.d/security
/etc/apache2/conf/httpd.conf
/etc/apache2/default-server.conf
/etc/apache2/httpd2.conf
/etc/apache2/httpd.conf
/etc/apache2/ports.conf
/etc/apache2/sites-available/default
/etc/apache2/sites-available/default-ssl
/etc/apache2/sites-enabled/000-default
/etc/apache2/sites-enabled/000-default.conf
/etc/apache2/sites-enabled/default
/etc/apache2/sites-enabled/default.conf
/etc/apache2/sites-enabled/default-ssl
/etc/apache2/sites-enabled/default-ssl.conf
/etc/apache2/ssl-global.conf
/etc/apache2/vhosts.d/00_default_vhost.conf
/etc/apache2/vhosts.d/default_vhost.include
/etc/apache/access.conf
/etc/apache/apache.conf
/etc/apache/conf/httpd.conf
/etc/apache/default-server.conf
/etc/apache/httpd.conf
/etc/apt/apt.conf
/etc/avahi/avahi-daemon.conf
/etc/bash_completion.d/debconf
/etc/bluetooth/input.conf
/etc/bluetooth/main.conf
/etc/bluetooth/network.conf
/etc/bluetooth/rfcomm.conf
/etc/ca-certificates.conf
/etc/ca-certificates.conf.dpkg-old
/etc/casper.conf
/etc/chkrootkit.conf
/etc/chkserv.d/chkservd.conf
/etc/clamav/clamd.conf
/etc/clamav.conf
/etc/clamav/freshclam.conf
/etc/clamd.conf
/etc/cpbackup.conf
/etc/cpbackup-userskip.conf
/etc/cpupdate.conf
/etc/crontab
/etc/crypttab
/etc/cups/acroread.conf
/etc/cups/cupsd.conf
/etc/cups/cupsd.conf.default
/etc/cups/pdftops.conf
/etc/cups/printers.conf
/etc/cvs-cron.conf
/etc/cvs-pserver.conf
/etc/debconf.conf
/etc/deluser.conf
/etc/dhcp3/dhclient.conf
/etc/dhcp3/dhcpd.conf
/etc/dhcp/dhclient.conf
/etc/dns2tcpd.conf
/etc/dovecot.conf
/etc/e2fsck.conf
/etc/esound/esd.conf
/etc/etter.conf
/etc/exim.conf
/etc/fuse.conf
/etc/grub.conf
/etc/hdparm.conf
/etc/host.conf
/etc/http/conf/httpd.conf
/etc/httpd/apache2.conf
/etc/httpd/apache.conf
/etc/httpd.conf
/etc/httpd/conf/apache2.conf
/etc/httpd/conf/apache.conf
/etc/httpd/conf.d/php.conf
/etc/httpd/conf.d/squirrelmail.conf
/etc/httpd/conf/httpd.conf
/etc/httpd/extra/httpd-ssl.conf
/etc/httpd/extra/httpd-vhosts.conf
/etc/httpd/httpd.conf
/etc/httpd/mod_php.conf
/etc/httpd/php.ini
/etc/http/httpd.conf
/etc/incron.conf
/etc/inetd.conf
/etc/ipfw.conf
/etc/kbd/config
/etc/kernel-img.conf
/etc/kernel-pkg.conf
/etc/ldap/ldap.conf
/etc/ld.so.conf
/etc/lighttpd.conf
/etc/lighttpd/lighthttpd.conf
/etc/lilo.conf
/etc/logrotate.conf
/etc/logrotate.d/ftp
/etc/logrotate.d/proftpd
/etc/ltrace.conf
/etc/mail/sendmail.conf
/etc/manpath.config
/etc/miredo.conf
/etc/miredo/miredo.conf
/etc/miredo/miredo-server.conf
/etc/miredo-server.conf
/etc/modprobe.d/vmware-tools.conf
/etc/modules.conf
/etc/mono/1.0/machine.config
/etc/mono/2.0/machine.config
/etc/mono/2.0/web.config
/etc/mono/config
/etc/mtools.conf
/etc/muddleftpd/muddleftpd.conf
/etc/muddleftpd/mudlogd.conf
/etc/my.cnf
/etc/my.conf
/etc/mysql/conf.d/old_passwords.cnf
/etc/mysql/my.cnf
/etc/named.conf
/etc/newsyslog.conf
/etc/nginx.conf
/etc/nginx/nginx.conf
/etc/nginx/sites-available/default
/etc/openldap/ldap.conf
/etc/osxhttpd/osxhttpd.conf
/etc/pam.conf
/etc/pam.d/proftpd
/etc/php4.4/fcgi/php.ini
/etc/php4/apache2/php.ini
/etc/php4/apache/php.ini
/etc/php4/cgi/php.ini
/etc/php5/apache2/php.ini
/etc/php5/apache/php.ini
/etc/php5/cgi/php.ini
/etc/php/apache2/php.ini
/etc/php/apache/php.ini
/etc/php/cgi/php.ini
/etc/php.ini
/etc/phpmyadmin/config.inc.php
/etc/php/php4/php.ini
/etc/php/php.ini
/etc/postgresql/pg_hba.conf
/etc/postgresql/postgresql.conf
/etc/proftp.conf
/etc/proftpd.conf
/etc/proftpd/modules.conf
/etc/proftpd/proftpd.conf
/etc/protpd/proftpd.conf
/etc/pulse/client.conf
/etc/pure-ftpd.conf
/etc/pure-ftpd/pure-ftpd.conf
/etc/rc.conf
/etc/rc.d/rc.httpd
/etc/rsyslog.conf
/etc/samba/dhcp.conf
/etc/samba/samba.conf
/etc/samba/smb.conf
/etc/samba/smb.conf.user
/etc/security/access.conf
/etc/security/capability.conf
/etc/security/group.conf
/etc/security/limits
/etc/security/limits.conf
/etc/security/namespace.conf
/etc/security/pam_env.conf
/etc/security/sepermit.conf
/etc/security/time.conf
/etc/sensors3.conf
/etc/sensors.conf
/etc/smb.conf
/etc/smi.conf
/etc/snmpd.conf
/etc/squirrelmail/apache.conf
/etc/squirrelmail/config/config.php
/etc/squirrelmail/config_default.php
/etc/squirrelmail/config_local.php
/etc/squirrelmail/config.php
/etc/squirrelmail/default_pref
/etc/squirrelmail/filters_setup.php
/etc/squirrelmail/sqspell_config.php
/etc/ssh/ssh_config
/etc/ssh/sshd_config
/etc/ssh/sshd_conﬁg
/etc/sso/sso_config.ini
/etc/stunnel/stunnel.conf
/etc/subversion/config
/etc/supervisor/supervisord.conf
/etc/sw-cp-server/applications.d/00-sso-cpserver.conf
/etc/sw-cp-server/applications.d/plesk.conf
/etc/sysctl.conf
/etc/sysctl.d/10-console-messages.conf
/etc/sysctl.d/10-network-security.conf
/etc/sysctl.d/10-process-security.conf
/etc/sysctl.d/wine.sysctl.conf
/etc/syslog.conf
/etc/systemd/journald.conf
/etc/systemd/journal-upload.conf
/etc/tinyproxy/tinyproxy.conf
/etc/tor/tor-tsocks.conf
/etc/tsocks.conf
/etc/updatedb.conf
/etc/updatedb.conf.beforevmwaretoolsinstall
/etc/updatedb.conf.BeforeVMwareToolsInstall
/etc/vhcs2/proftpd/proftpd.conf
/etc/vmware-tools/config
/etc/vmware-tools/tpvmlp.conf
/etc/vmware-tools/vmware-tools-libraries.conf
/etc/vsftpd.conf
/etc/vsftpd/vsftpd.conf
/etc/webmin/miniserv.conf
/etc/wicd/dhclient.conf.template.default
/etc/wicd/manager-settings.conf
/etc/wicd/wired-settings.conf
/etc/wicd/wireless-settings.conf
/etc/wu-ftpd/ftpaccess
/etc/wwwacct.conf
/etc/X11/XF86Config
/etc/x11/xorg.conf
/etc/X11/xorg.conf
/etc/x11/xorg.conf.beforevmwaretoolsinstall
/etc/X11/xorg.conf.BeforeVMwareToolsInstall
/etc/x11/xorg.conf.orig
/etc/X11/xorg.conf.orig
/etc/x11/xorg.conf-vesa
/etc/X11/xorg.conf-vesa
/etc/x11/xorg.conf-vmware
/etc/X11/xorg.conf-vmware
/etc/XF86Config
/etc/xinetd.conf
/home2/bin/stable/apache/php.ini
/home/bin/stable/apache/php.ini
/home/postgres/data/pg_hba.conf
/home/postgres/data/pg_ident.conf
/home/postgres/data/pg_version
/home/postgres/data/PG_VERSION
/home/postgres/data/postgresql.conf
/home/user/lighttpd/lighttpd.conf
/http/httpd.conf
/library/webserver/documents/.htaccess
/lib/tmpfiles.d/httpd.conf
/mysql/bin/my.ini
/mysql/my.cnf
/MySQL/my.cnf
/mysql/my.ini
/MySQL/my.ini
/netserver/bin/stable/apache/php.ini
/NetServer/bin/stable/apache/php.ini
/opt/apache22/conf/httpd.conf
/opt/apache2/apache2.conf
/opt/apache2/apache.conf
/opt/apache2/conf/apache2.conf
/opt/apache2/conf/apache.conf
/opt/apache2/conf/httpd.conf
/opt/apache/apache2.conf
/opt/apache/apache.conf
/opt/apache/conf/apache2.conf
/opt/apache/conf/apache.conf
/opt/apache/conf/httpd.conf
/opt/httpd/apache2.conf
/opt/httpd/apache.conf
/opt/httpd/conf/apache2.conf
/opt/httpd/conf/apache.conf
/opt/lampp/etc/httpd.conf
/opt/lsws/conf/httpd_conf.xml
/opt/xampp/etc/php.ini
/php4/php.ini
/php5/php.ini
/php/php.ini
/PHP/php.ini
/private/etc/httpd/apache2.conf
/private/etc/httpd/apache.conf
/private/etc/httpd/httpd.conf
/private/etc/httpd/httpd.conf.default
/private/etc/squirrelmail/config/config.php
/root/anaconda-ks.cfg
/srv/www/htdos/squirrelmail/config/config.php
/system/library/webobjects/adaptors/apache2.2/apache.conf
/usr/apache2/conf/httpd.conf
/usr/apache/conf/httpd.conf
/usr/etc/pure-ftpd.conf
/usr/home/user/lighttpd/lighttpd.conf
/usr/internet/pgsql/data/pg_hba.conf
/usr/lib/php.ini
/usr/lib/php/php.ini
/usr/lib/security/mkuser.default
/usr/lib/systemd/system/httpd.service
/usr/local/apache1.3/conf/httpd.conf
/usr/local/apache22/conf/httpd.conf
/usr/local/apache22/httpd.conf
/usr/local/apache2/apache2.conf
/usr/local/apache2/apache.conf
/usr/local/apache2/conf/apache2.conf
/usr/local/apache2/conf/apache.conf
/usr/local/apache2/conf/extra/httpd-ssl.conf
/usr/local/apache2/conf/httpd.conf
/usr/local/apache2/conf/modsec.conf
/usr/local/apache2/conf/ssl.conf
/usr/local/apache2/conf/vhosts.conf
/usr/local/apache2/conf/vhosts-custom.conf
/usr/local/apache2/httpd.conf
/usr/local/apache/apache2.conf
/usr/local/apache/apache.conf
/usr/local/apache/bin/apachectl
/usr/local/apache/conf/access.conf
/usr/local/apache/conf/apache2.conf
/usr/local/apache/conf/apache.conf
/usr/local/apache/conf/extra/httpd-ssl.conf
/usr/local/apache/conf/httpd.conf
/usr/local/apache/conf/httpd.conf.default
/usr/local/apache/conf/modsec.conf
/usr/local/apache/conf/php.ini
/usr/local/apache/conf/vhosts.conf
/usr/local/apache/conf/vhosts-custom.conf
/usr/local/apache/httpd.conf
/usr/local/apps/apache22/conf/httpd.conf
/usr/local/apps/apache2/conf/httpd.conf
/usr/local/apps/apache/conf/httpd.conf
/usr/local/etc/apache22/conf/httpd.conf
/usr/local/etc/apache22/httpd.conf
/usr/local/etc/apache2/conf/httpd.conf
/usr/local/etc/apache2/httpd.conf
/usr/local/etc/apache2/vhosts.conf
/usr/local/etc/apache/conf/httpd.conf
/usr/local/etc/apache/httpd.conf
/usr/local/etc/apache/vhosts.conf
/usr/local/etc/httpd/conf/httpd.conf
/usr/local/etc/lighttpd.conf
/usr/local/etc/lighttpd.conf.new
/usr/local/etc/nginx/nginx.conf
/usr/local/etc/php.ini
/usr/local/etc/pure-ftpd.conf
/usr/local/etc/smb.conf
/usr/local/etc/webmin/miniserv.conf
/usr/local/httpd/conf/httpd.conf
/usr/local/jakarta/dist/tomcat/conf/context.xml
/usr/local/jakarta/dist/tomcat/conf/jakarta.conf
/usr/local/jakarta/dist/tomcat/conf/logging.properties
/usr/local/jakarta/dist/tomcat/conf/server.xml
/usr/local/jakarta/dist/tomcat/conf/workers.properties
/usr/local/jakarta/tomcat/conf/context.xml
/usr/local/jakarta/tomcat/conf/jakarta.conf
/usr/local/jakarta/tomcat/conf/logging.properties
/usr/local/jakarta/tomcat/conf/server.xml
/usr/local/jakarta/tomcat/conf/workers.properties
/usr/local/libexec/courier-imap
/usr/local/lib/php.ini
/usr/local/lighttpd/conf/lighttpd.conf
/usr/local/lsws/conf/httpd_conf.xml
/usr/local/mysql/data/mysql-bin.index
/usr/local/nginx/conf/nginx.conf
/usr/local/pgsql/data/pg_hba.conf
/usr/local/pgsql/data/postgresql.conf
/usr/local/php4/apache2.conf
/usr/local/php4/apache2.conf.php
/usr/local/php4/apache.conf
/usr/local/php4/apache.conf.php
/usr/local/php4/httpd.conf
/usr/local/php4/httpd.conf.php
/usr/local/php4/lib/php.ini
/usr/local/php5/apache2.conf
/usr/local/php5/apache2.conf.php
/usr/local/php5/apache.conf
/usr/local/php5/apache.conf.php
/usr/local/php5/httpd.conf
/usr/local/php5/httpd.conf.php
/usr/local/php5/lib/php.ini
/usr/local/php/apache2.conf
/usr/local/php/apache2.conf.php
/usr/local/php/apache.conf
/usr/local/php/apache.conf.php
/usr/local/php/httpd.conf
/usr/local/php/httpd.conf.ini
/usr/local/php/httpd.conf.php
/usr/local/php/lib/php.ini
/usr/local/psa/admin/conf/php.ini
/usr/local/psa/admin/conf/site_isolation_settings.ini
/usr/local/psa/admin/htdocs/domains/databases/phpmyadmin/libraries/config.default.php
/usr/local/psa/admin/htdocs/domains/databases/phpMyAdmin/libraries/config.default.php
/usr/local/pureftpd/etc/pure-ftpd.conf
/usr/local/pureftpd/etc/pureftpd.pdn
/usr/local/pureftpd/sbin/pure-config.pl
/usr/local/samba/lib/smb.conf.user
/usr/local/sb/config
/usr/local/squirrelmail/www/readme
/usr/local/zend/etc/php.ini
/usr/local/Zend/etc/php.ini
/usr/local/zeus/web/global.cfg
/usr/pkg/etc/httpd/httpd.conf
/usr/pkg/etc/httpd/httpd-default.conf
/usr/pkg/etc/httpd/httpd-vhosts.conf
/usr/pkgsrc/net/pureftpd/pure-ftpd.conf
/usr/ports/contrib/pure-ftpd/pure-ftpd.conf
/usr/ports/ftp/pure-ftpd/pure-ftpd.conf
/usr/ports/net/pure-ftpd/pure-ftpd.conf
/usr/sbin/pure-config.pl
/usr/share/adduser/adduser.conf
/usr/share/squirrelmail/config/config.php
/usr/share/squirrelmail/plugins/squirrel_logger/setup.php
/usr/share/tomcat6/conf/context.xml
/usr/share/tomcat6/conf/logging.properties
/usr/share/tomcat6/conf/server.xml
/usr/share/tomcat6/conf/workers.properties
/var/apache2/config.inc
/var/apache/conf/httpd.conf
/var/cpanel/cpanel.config
/var/cpanel/cpanel.conﬁg
/var/cpanel/tomcat.options
/var/lib/mysql/my.cnf
/var/lib/pgsql/data/postgresql.conf
/var/local/www/conf/php.ini
/var/log/muddleftpd.conf
/var/nm2/postgresql.conf
/var/postgresql/db/postgresql.conf
/var/www/conf/httpd.conf
/var/www/html/squirrelmail-1.2.9/config/config.php
/var/www/html/squirrelmail/config/config.php
/var/www/html/wordpress/wp-config.php
/var/www/html/wp-config.php
/var/www/html/wp/wp-config.php
/var/www/squirrelmail/config/config.php
/volumes/macintosh_hd1/opt/apache2/conf/httpd.conf
/Volumes/Macintosh_HD1/opt/apache2/conf/httpd.conf
/volumes/macintosh_hd1/opt/apache/conf/httpd.conf
/Volumes/Macintosh_HD1/opt/apache/conf/httpd.conf
/volumes/macintosh_hd1/opt/httpd/conf/httpd.conf
/Volumes/Macintosh_HD1/opt/httpd/conf/httpd.conf
/volumes/macintosh_hd1/usr/local/php4/httpd.conf.php
/Volumes/Macintosh_HD1/usr/local/php4/httpd.conf.php
/volumes/macintosh_hd1/usr/local/php5/httpd.conf.php
/Volumes/Macintosh_HD1/usr/local/php5/httpd.conf.php
/volumes/macintosh_hd1/usr/local/php/httpd.conf.php
/Volumes/Macintosh_HD1/usr/local/php/httpd.conf.php
/volumes/macintosh_hd1/usr/local/php/lib/php.ini
/Volumes/Macintosh_HD1/usr/local/php/lib/php.ini
/volumes/webbackup/opt/apache2/conf/httpd.conf
/Volumes/webBackup/opt/apache2/conf/httpd.conf
/volumes/webbackup/private/etc/httpd/httpd.conf
/Volumes/webBackup/private/etc/httpd/httpd.conf
/volumes/webbackup/private/etc/httpd/httpd.conf.default
/Volumes/webBackup/private/etc/httpd/httpd.conf.default
/wamp/bin/apache/apache2.2.21/conf/httpd.conf
/wamp/bin/apache/apache2.2.21/wampserver.conf
/wamp/bin/apache/apache2.2.22/conf/httpd.conf
/wamp/bin/apache/apache2.2.22/conf/wampserver.conf
/wamp/bin/apache/apache2.2.22/wampserver.conf
/wamp/bin/mysql/mysql5.5.16/data/mysql-bin.index
/wamp/bin/mysql/mysql5.5.16/my.ini
/wamp/bin/mysql/mysql5.5.16/wampserver.conf
/wamp/bin/mysql/mysql5.5.24/data/mysql-bin.index
/wamp/bin/mysql/mysql5.5.24/my.ini
/wamp/bin/mysql/mysql5.5.24/wampserver.conf
/wamp/bin/php/php5.3.8/php.ini
/wamp/bin/php/php5.4.3/php.ini
/web/conf/php.ini
/www/apache/conf/httpd.conf
/www/conf/httpd.conf
/xampp/apache/bin/php.ini
/xampp/apache/conf/httpd.conf
/xampp/filezillaftp/filezillaserver.xml
/xampp/FileZillaFTP/FileZillaServer.xml
/xampp/mercurymail/mercury.ini
/xampp/MercuryMail/mercury.ini
/xampp/phpmyadmin/config.inc.php
/xampp/phpMyAdmin/config.inc.php
/xampp/php/php.ini
/xampp/sendmail/sendmail.ini
/xampp/webalizer/webalizer.conf
